<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.finebrain.janrain.engage"
    version="0.0.1">

    <name>phonegap-JREngage</name>
    <description>Janrain Engage for IOS Plugin</description>
    <license></license>
    <keywords>cordova,janrain</keywords>
    <engines>
        <engine name="cordova-ios" version=">=3.0.0"/>
    </engines>
    <js-module src="www/JREngagePlugin.js" name="JREngage">
        <clobbers target="JREngage" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
        	<feature name="JREngage">
        		<param name="ios-package" value="JREngage"/>
        	</feature>
        </config-file>
        <header-file src="src/ios/JREngage/Classes/JRActivityObject.h" />
        <source-file src="src/ios/JREngage/Classes/JRActivityObject.m" />
        <header-file src="src/ios/JREngage/Classes/JREngage+CustomInterface.h" />
        <source-file src="src/ios/JREngage/Classes/JREngage+CustomInterface.m" />
        <header-file src="src/ios/JREngage/Classes/JREngage.h" />
        <source-file src="src/ios/JREngage/Classes/JREngage.m" />
        <header-file src="src/ios/JREngage/Classes/JREngageError.h" />
        <source-file src="src/ios/JREngage/Classes/JREngageError.m" />
        <header-file src="src/ios/JREngage/Classes/JREngagePhonegapPlugin.h" />
        <source-file src="src/ios/JREngage/Classes/JREngagePhonegapPlugin.m" />
        <header-file src="src/ios/JREngage/Classes/JRInfoBar.h" />
        <source-file src="src/ios/JREngage/Classes/JRInfoBar.m" />
        <header-file src="src/ios/JREngage/Classes/JRPreviewLabel.h" />
        <source-file src="src/ios/JREngage/Classes/JRPreviewLabel.m" />
        <header-file src="src/ios/JREngage/Classes/JRProvidersController.h" />
        <source-file src="src/ios/JREngage/Classes/JRProvidersController.m" />
        <header-file src="src/ios/JREngage/Classes/JRPublishActivityController.h" />
        <source-file src="src/ios/JREngage/Classes/JRPublishActivityController.m" />
        <header-file src="src/ios/JREngage/Classes/JRSessionData.h" />
        <source-file src="src/ios/JREngage/Classes/JRSessionData.m" />
        <header-file src="src/ios/JREngage/Classes/JRUserInterfaceMaestro.h" />
        <source-file src="src/ios/JREngage/Classes/JRUserInterfaceMaestro.m" />
        <header-file src="src/ios/JREngage/Classes/JRUserLandingController.h" />
        <source-file src="src/ios/JREngage/Classes/JRUserLandingController.m" />
        <header-file src="src/ios/JREngage/Classes/JRWebViewController.h" />
        <source-file src="src/ios/JREngage/Classes/JRWebViewController.m" />

        <header-file src="src/ios/JRConnectionManager/JRConnectionManager.h" />
        <source-file src="src/ios/JRConnectionManager/JRConnectionManager.m" />

        <header-file src="src/ios/JSONKit/JSONKit.h" />
        <source-file src="src/ios/JSONKit/JSONKit.m" />

        <header-file src="src/ios/Security/SFHFKeychainUtils.h" />
        <source-file src="src/ios/Security/SFHFKeychainUtils.m" />

        <header-file src="src/ios/JRCapture/Classes/CaptureRecordInterface/JRCaptureApidInterface.h" />
        <source-file src="src/ios/JRCapture/Classes/CaptureRecordInterface/JRCaptureApidInterface.m" />
        <header-file src="src/ios/JRCapture/Classes/CaptureRecordInterface/JRCaptureData.h" />
        <source-file src="src/ios/JRCapture/Classes/CaptureRecordInterface/JRCaptureData.m" />
        <header-file src="src/ios/JRCapture/Classes/CaptureRecordInterface/JRNSDate+ISO8601_CaptureDateTimeString.h" />
        <source-file src="src/ios/JRCapture/Classes/CaptureRecordInterface/JRNSDate+ISO8601_CaptureDateTimeString.m" />

        <header-file src="src/ios/JRCapture/Classes/CaptureUserModel/JRCaptureObject.h" />
        <source-file src="src/ios/JRCapture/Classes/CaptureUserModel/JRCaptureObject.m" />
        <header-file src="src/ios/JRCapture/Classes/CaptureUserModel/JRCaptureObject+Internal.h" />
        <header-file src="src/ios/JRCapture/Classes/CaptureUserModel/JRCaptureUser.h" />
        <source-file src="src/ios/JRCapture/Classes/CaptureUserModel/JRCaptureUser.m" />
        <header-file src="src/ios/JRCapture/Classes/CaptureUserModel/JRCaptureUser+Extras.h" />
        <source-file src="src/ios/JRCapture/Classes/CaptureUserModel/JRCaptureUser+Extras.m" />

        <header-file src="src/ios/JRCapture/Classes/EngageWrapper/JRConventionalSignInViewController.h" />
        <source-file src="src/ios/JRCapture/Classes/EngageWrapper/JRConventionalSignInViewController.m" />
        <header-file src="src/ios/JRCapture/Classes/EngageWrapper/JREngageWrapper.h" />
        <source-file src="src/ios/JRCapture/Classes/EngageWrapper/JREngageWrapper.m" />

        <header-file src="src/ios/JRCapture/Classes/WebviewWrapper/JRCapture.h" />
        <source-file src="src/ios/JRCapture/Classes/WebviewWrapper/JRCapture.m" />
        <header-file src="src/ios/JRCapture/Classes/WebviewWrapper/JRCaptureError.h" />
        <source-file src="src/ios/JRCapture/Classes/WebviewWrapper/JRCaptureError.m" />
        <header-file src="src/ios/JRCapture/Classes/WebviewWrapper/JRCaptureTypes.h" />
	    
        <resource-file src="src/ios/JREngage/Resources/images/buttons/button_black_135x40.png" />
        <resource-file src="src/ios/JREngage/Resources/images/buttons/button_black_280x40.png" />
        <resource-file src="src/ios/JREngage/Resources/images/buttons/button_facebook_135x40.png" />
        <resource-file src="src/ios/JREngage/Resources/images/buttons/button_facebook_280x40.png" />
        <resource-file src="src/ios/JREngage/Resources/images/buttons/button_google_135x40.png" />
        <resource-file src="src/ios/JREngage/Resources/images/buttons/button_google_280x40.png" />
        <resource-file src="src/ios/JREngage/Resources/images/buttons/button_iosblue_135x40.png" />
        <resource-file src="src/ios/JREngage/Resources/images/buttons/button_iosblue_280x40.png" />
        <resource-file src="src/ios/JREngage/Resources/images/buttons/button_janrain_135x40.png" />
        <resource-file src="src/ios/JREngage/Resources/images/buttons/button_janrain_280x40.png" />
        <resource-file src="src/ios/JREngage/Resources/images/buttons/button_linkedin_135x40.png" />
        <resource-file src="src/ios/JREngage/Resources/images/buttons/button_linkedin_280x40.png" />
        <resource-file src="src/ios/JREngage/Resources/images/buttons/button_myspace_135x40.png" />
        <resource-file src="src/ios/JREngage/Resources/images/buttons/button_myspace_280x40.png" />
        <resource-file src="src/ios/JREngage/Resources/images/buttons/button_twitter_135x40.png" />
        <resource-file src="src/ios/JREngage/Resources/images/buttons/button_twitter_280x40.png" />
        <resource-file src="src/ios/JREngage/Resources/images/buttons/button_yahoo_135x40.png" />
        <resource-file src="src/ios/JREngage/Resources/images/buttons/button_yahoo_280x40.png" />
        <resource-file src="src/ios/JREngage/Resources/images/icons/icon_aol_30x30.png" />
        <resource-file src="src/ios/JREngage/Resources/images/icons/icon_blogger_30x30.png" />
        <resource-file src="src/ios/JREngage/Resources/images/icons/icon_facebook_30x30.png" />
        <resource-file src="src/ios/JREngage/Resources/images/icons/icon_flickr_30x30.png" />
        <resource-file src="src/ios/JREngage/Resources/images/icons/icon_foursquare_30x30.png" />
        <resource-file src="src/ios/JREngage/Resources/images/icons/icon_google_30x30.png" />
        <resource-file src="src/ios/JREngage/Resources/images/icons/icon_hyves_30x30.png" />
        <resource-file src="src/ios/JREngage/Resources/images/icons/icon_linkedin_30x30.png" />
        <resource-file src="src/ios/JREngage/Resources/images/icons/icon_live_id_30x30.png" />
        <resource-file src="src/ios/JREngage/Resources/images/icons/icon_livejournal_30x30.png" />
        <resource-file src="src/ios/JREngage/Resources/images/icons/icon_myopenid_30x30.png" />
        <resource-file src="src/ios/JREngage/Resources/images/icons/icon_myspace_30x30.png" />
        <resource-file src="src/ios/JREngage/Resources/images/icons/icon_netlog_30x30.png" />
        <resource-file src="src/ios/JREngage/Resources/images/icons/icon_openid_30x30.png" />
        <resource-file src="src/ios/JREngage/Resources/images/icons/icon_orkut_30x30.png" />
        <resource-file src="src/ios/JREngage/Resources/images/icons/icon_paypal_30x30.png" />
        <resource-file src="src/ios/JREngage/Resources/images/icons/icon_salesforce_30x30.png" />
        <resource-file src="src/ios/JREngage/Resources/images/icons/icon_twitter_30x30.png" />
        <resource-file src="src/ios/JREngage/Resources/images/icons/icon_verisign_30x30.png" />
        <resource-file src="src/ios/JREngage/Resources/images/icons/icon_vzn_30x30.png" />
        <resource-file src="src/ios/JREngage/Resources/images/icons/icon_wordpress_30x30.png" />
        <resource-file src="src/ios/JREngage/Resources/images/icons/icon_yahoo_30x30.png" />
        <resource-file src="src/ios/JREngage/Resources/images/icons_bw/icon_bw_facebook_30x30.png" />
        <resource-file src="src/ios/JREngage/Resources/images/icons_bw/icon_bw_linkedin_30x30.png" />
        <resource-file src="src/ios/JREngage/Resources/images/icons_bw/icon_bw_mail_30x30.png" />
        <resource-file src="src/ios/JREngage/Resources/images/icons_bw/icon_bw_mail_sms_30x30.png" />
        <resource-file src="src/ios/JREngage/Resources/images/icons_bw/icon_bw_myspace_30x30.png" />
        <resource-file src="src/ios/JREngage/Resources/images/icons_bw/icon_bw_sms_30x30.png" />
        <resource-file src="src/ios/JREngage/Resources/images/icons_bw/icon_bw_twitter_30x30.png" />
        <resource-file src="src/ios/JREngage/Resources/images/icons_bw/icon_bw_yahoo_30x30.png" />
        <resource-file src="src/ios/JREngage/Resources/images/logos/logo_aol_280x65.png" />
        <resource-file src="src/ios/JREngage/Resources/images/logos/logo_blogger_280x65.png" />
        <resource-file src="src/ios/JREngage/Resources/images/logos/logo_facebook_280x65.png" />
        <resource-file src="src/ios/JREngage/Resources/images/logos/logo_flickr_280x65.png" />
        <resource-file src="src/ios/JREngage/Resources/images/logos/logo_foursquare_280x65.png" />
        <resource-file src="src/ios/JREngage/Resources/images/logos/logo_google_280x65.png" />
        <resource-file src="src/ios/JREngage/Resources/images/logos/logo_hyves_280x65.png" />
        <resource-file src="src/ios/JREngage/Resources/images/logos/logo_linkedin_280x65.png" />
        <resource-file src="src/ios/JREngage/Resources/images/logos/logo_live_id_280x65.png" />
        <resource-file src="src/ios/JREngage/Resources/images/logos/logo_livejournal_280x65.png" />
        <resource-file src="src/ios/JREngage/Resources/images/logos/logo_myopenid_280x65.png" />
        <resource-file src="src/ios/JREngage/Resources/images/logos/logo_myspace_280x65.png" />
        <resource-file src="src/ios/JREngage/Resources/images/logos/logo_netlog_280x65.png" />
        <resource-file src="src/ios/JREngage/Resources/images/logos/logo_openid_280x65.png" />
        <resource-file src="src/ios/JREngage/Resources/images/logos/logo_orkut_280x65.png" />
        <resource-file src="src/ios/JREngage/Resources/images/logos/logo_paypal_280x65.png" />
        <resource-file src="src/ios/JREngage/Resources/images/logos/logo_salesforce_280x65.png" />
        <resource-file src="src/ios/JREngage/Resources/images/logos/logo_twitter_280x65.png" />
        <resource-file src="src/ios/JREngage/Resources/images/logos/logo_verisign_280x65.png" />
        <resource-file src="src/ios/JREngage/Resources/images/logos/logo_vzn_280x65.png" />
        <resource-file src="src/ios/JREngage/Resources/images/logos/logo_yahoo_280x65.png" />
        <resource-file src="src/ios/JREngage/Resources/images/other/check_mark.png" />
        <resource-file src="src/ios/JREngage/Resources/images/other/media_view_background_bottom.png" />
        <resource-file src="src/ios/JREngage/Resources/images/other/media_view_background_top.png" />
        <resource-file src="src/ios/JREngage/Resources/images/other/music_note.jpg" />
        <resource-file src="src/ios/JREngage/Resources/images/other/profilepic_placeholder.png" />
        <resource-file src="src/ios/JREngage/Resources/images/other/triangle_icon.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/buttons/button_black_135x40@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/buttons/button_black_280x40@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/buttons/button_facebook_135x40@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/buttons/button_facebook_280x40@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/buttons/button_google_135x40@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/buttons/button_google_280x40@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/buttons/button_iosblue_135x40@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/buttons/button_iosblue_280x40@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/buttons/button_janrain_135x40@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/buttons/button_janrain_280x40@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/buttons/button_linkedin_135x40@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/buttons/button_linkedin_280x40@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/buttons/button_myspace_135x40@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/buttons/button_myspace_280x40@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/buttons/button_twitter_135x40@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/buttons/button_twitter_280x40@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/buttons/button_yahoo_135x40@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/buttons/button_yahoo_280x40@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/icons/icon_aol_30x30@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/icons/icon_blogger_30x30@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/icons/icon_facebook_30x30@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/icons/icon_flickr_30x30@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/icons/icon_foursquare_30x30@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/icons/icon_google_30x30@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/icons/icon_hyves_30x30@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/icons/icon_linkedin_30x30@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/icons/icon_live_id_30x30@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/icons/icon_livejournal_30x30@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/icons/icon_myopenid_30x30@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/icons/icon_myspace_30x30@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/icons/icon_netlog_30x30@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/icons/icon_openid_30x30@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/icons/icon_orkut_30x30@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/icons/icon_paypal_30x30@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/icons/icon_salesforce_30x30@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/icons/icon_twitter_30x30@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/icons/icon_verisign_30x30@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/icons/icon_vzn_30x30@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/icons/icon_wordpress_30x30@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/icons/icon_yahoo_30x30@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/icons_bw/icon_bw_facebook_30x30@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/icons_bw/icon_bw_linkedin_30x30@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/icons_bw/icon_bw_mail_30x30@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/icons_bw/icon_bw_mail_sms_30x30@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/icons_bw/icon_bw_myspace_30x30@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/icons_bw/icon_bw_sms_30x30@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/icons_bw/icon_bw_twitter_30x30@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/icons_bw/icon_bw_yahoo_30x30@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/logos/logo_aol_280x65@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/logos/logo_blogger_280x65@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/logos/logo_facebook_280x65@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/logos/logo_flickr_280x65@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/logos/logo_foursquare_280x65@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/logos/logo_google_280x65@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/logos/logo_hyves_280x65@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/logos/logo_linkedin_280x65@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/logos/logo_live_id_280x65@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/logos/logo_livejournal_280x65@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/logos/logo_myopenid_280x65@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/logos/logo_myspace_280x65@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/logos/logo_netlog_280x65@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/logos/logo_openid_280x65@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/logos/logo_orkut_280x65@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/logos/logo_paypal_280x65@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/logos/logo_salesforce_280x65@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/logos/logo_twitter_280x65@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/logos/logo_verisign_280x65@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/logos/logo_vzn_280x65@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/logos/logo_yahoo_280x65@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/other/check_mark@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/other/media_view_background_bottom@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/other/media_view_background_top@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/other/music_note@2x.jpg" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/other/profilepic_placeholder@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/images-2x/other/triangle_icon@2x.png" />
        <resource-file src="src/ios/JREngage/Resources/xibs/JRProvidersController.xib" />
        <resource-file src="src/ios/JREngage/Resources/xibs/JRPublishActivityController.xib" />
        <resource-file src="src/ios/JREngage/Resources/xibs/JRUserLandingController.xib" />
        <resource-file src="src/ios/JREngage/Resources/xibs/JRWebViewController.xib" />

    </platform>
</plugin>
